Flask==2.0.3
fastapi==0.75.0
google
google-cloud-datastore
google-api-python-client
google-cloud
google-cloud-storage==2.1.0
google-cloud-logging==3.0.0
google-cloud-profiler
gunicorn
uvicorn==0.17.6
